@{
}

<footer class="border-top footer text-muted">
    <div class="container-fluid">
        &copy; 2024 - BTL_LTWebNC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

<style>
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        white-space: nowrap;
        line-height: 60px;
    }
</style>
