@model BTL_LTWebNC.Models.ViewModel.RegisterViewModel

<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
            <div class="card-body p-3">
                <h2 class="text-uppercase text-center mb-3">Đăng ký tài khoản</h2>

                <form asp-controller="Account" asp-action="Register">

                    <div data-mdb-input-init class="form-outline mb-3">
                        <label class="form-label" for="form3Example1cg">Tên tài khoản</label>
                        <input type="text" asp-for="UserName" id="form3Example1cg" class="form-control"/>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-3">
                        <label class="form-label" for="form3Example3cg">Mật khẩu</label>
                        <input type="password" asp-for="Password" id="form3Example3cg" class="form-control"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-3">
                        <label class="form-label" for="form3Example4cg">Nhập lại mật khẩu</label>
                        <input type="password" asp-for="RePassword" id="form3Example4cg" name="RePassword" class="form-control" />
                        <span asp-validation-for="RePassword" class="text-danger"></span>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-3">
                        <label class="form-label" for="form3Example4cdg">Email</label>
                        <input type="text" asp-for="Email" id="form3Example4cdg" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                                
                    <div data-mdb-input-init class="form-outline mb-3">
                        <label class="form-label" for="form3Example4cdg">Họ và tên</label>
                        <input type="text" asp-for="FullName" id="form3Example4cdg" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-3">
                        <label class="form-label" for="form3Example4cdg">Verify Key</label>
                        <input type="text" asp-for="VerifyKey" id="form3Example4cdg" class="form-control" />
                        <span asp-validation-for="VerifyKey" class="text-danger"></span>
                    </div>

                    <p class="text-end text-muted me-3 mb-4">
                        Bạn đã có tài khoản? 
                        <a asp-controller="Account" asp-action="Login" class="fw-bold text-body"><u>Đăng nhập tại đây</u></a>
                    </p>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success btn-lg">
                            Đăng ký
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
